{% set docker_daemon = pillar['docker']['docker_daemon'] %}
[Service]
ExecStart=
ExecStart=/usr/bin/dockerd
{%- for key, value in docker_daemon.get("opts").iteritems() -%}
{% for opt in value %} --{{ key }}={{ opt }}{% endfor %}
{%- endfor %}

{% for key, value in docker_daemon.get("env_vars").iteritems() %}
Environment={{key}}={{value}}
{% endfor %}
